<a href="/blog">Go back</a>


<h1>{{ post.title }}</h1> <!-- вывод названия, текста, автора и дату поста из бд в шаблон-->
<h2>{{post.text}}</h2>
<h3>{{ post.author }}</h3>
<h4>{{ post.pub_date }}</h4>

<h2>Comments</h2>

<form>
    <label for="your_comment">Your comment: </label>
    <input id="your_comment" type="text" name="your_comment" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> <!-- форма для написания комментария, которая пока что ничего не делает -->

<ul>
{% for comment in comments %}
<li>{{ comment.text }} - {{ comment.pub_date }}</a></li>
{% endfor %}
</ul> <!-- комментарии в виде списка  -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
