<a href="/">Go Home</a>
<ul>
{% for post in posts %}
<li><a href="{% url 'blog:post' post.id %}">{{ post }} ({{post.pub_date}} by {{ post.author}} )</a></li>
<p>{{post.text}}</p>
{% endfor %}
</ul>
<!-- ^^^ вывод постов в виде списка -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />